<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moon_app</title>
</head>
<style>
    h2{
        background-color: bisque;
        border-radius: 20px;
    }
    center:hover h2{
        background-color: beige;
    }
</style>
<body>
    <center><h2>The moon is mostly made of iron, other metals found on the moon are magnesium, 
        aluminum, silicon, titanium, gold, silver, and mercury.</h2></center>
</body>
</html>